/*
body{
  overflow: hidden;
}
*/
a {
  font-family: 'Crimson Text', serif;
  text-decoration: none;
  color: #585858;
}

a:hover {
  color: #36AECC;
}

.forward, .backward {
  margin-right: 2%;
  margin-top: 10%;
  float: right;
}

.backward {
  float: left;
}

.current_link{
  font-size: 40px;
  position: fixed;
  margin-left: 15%;
  text-align: center;
  width: 70%;
  margin-top: 12%;
}


.full-list{
  position: absolute;
  margin-top: 25%;
  margin-left: 12%;
  width: 75%;
  text-align: center;
}

.bottom {
  position: absolute;
  margin-top: 50%;
  margin-left: 12%;
  width: 75%;
  text-align: center;
}

